* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização da Barra Superior */

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100px;
}

.titulo{
    color: #ffcc15;
    font-family: "Roboto Slab", serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
}

.BTN_sair{
    background-color: red;
    color: rgb(252, 249, 249);
    width: 5%;
    padding: 20px;
    border: none;
}

